extends ../layout.pug

block metadata
  title Error Gastos
  meta(name='description', content='Página de gastos')

block content
  div(style="padding: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px")
    if code
      h1 #{code}
    else
      h1 404
    if msg
      p #{msg}
    else
      p No se encontro el contenido que buscabas.