extends ../layout.pug

block metadata
  title Gastos
  meta(name='description', content='Página de gastos')

block content
  h1 Mis Gastos

  form(action="/gastos/user", method="get", name="busquedauser")
    label(for="userid") Usuario id
    input(type="number" name="userid" id="userid")
    button(type="submit") Buscar

  table
    thead.azul
      tr
        td Titulo
        td Monto
        td Descripcion
    tbody
      each g in gastos
        tr
          td #{g.titulo}
          td #{g.monto}
          td #{g.descripcion}

    script(src="/gastos/script.js")