extends layout.pug

block metadata
  title Gastos
  meta(name='description', content='Página de gastos')

block content
  h1(class="fs-1") Mis Gastos
  p(class="text-uppercase") Lowercased TEXT.
  p
    button(type='button', data-bs-toggle='collapse', data-bs-target='#collapseWidthExample', aria-expanded='false', aria-controls='collapseWidthExample' class="btn btn-primary") Toggle width collapse
  div(style='min-height: 120px;')
    div(id="collapseWidthExample" class="collapse collapse-horizontal")
      div.card.card-body(style='width: 300px;') This is some placeholder content for a horizontal collapse. It&rsquo;s hidden by default and shown when triggered.

  h2 Hola
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt molestiae sint laboriosam alias, ea pariatur voluptatum soluta sapiente eos sequi corrupti qui! Nihil nisi, ab quae consequatur dolore tempora.