extends layout.pug

block metadata
  title Control de Gastos

block content
  h1 Control de Gastos
  p Bienvenido a tu aplicación de control de gastos. Aquí podrás registrar tus ingresos y gastos para llevar un mejor control de tus finanzas personales.