doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block metadata

  body
    nav
      a(href='/') Home
      a(href='/gastos') Gastos
      a(href='/categorias') Categorías
    main
      block content