include mixins/alert
include mixins/nav

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styles.css')
    block metadata

  body
    +nav
    main
      +alert(alert)

      div(style="padding: 20px")
        block content