mixin item(path, name, active)
  li
    if active
      a(href=path class='active') #{name}
    else 
      a(href=path) #{name}

mixin nav
  nav
    ul
      +item('/', 'Home', currentPath == '/')
      +item('/gastos', 'Gastos', currentPath.startsWith('/gastos'))
      +item('/categorias', 'Categorías', currentPath.startsWith('/categorias'))