mixin tag(text, bgcolor = '#6b7280')
	span(style=`display:inline-block;background-color:${bgcolor};color: white;border-radius:10px;padding:2px 8px;line-height:1.2;font-family: monospace;font-weight: bold`)
		= text
